<!-- Content -->
<div class="content">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
    <div class="inner-content register step2">
      <h4 class="content-title">
        Регистрация
      </h4>

      <form >
        <div class="form-group-container">
          <div class="form-group">
            <input type="tel" class="form-control" value="{{ phone }}" id="tel" name="phone"
                   placeholder="Номер телефона"
                  readonly>
            <a class="change-link" >Изменить</a>
          </div>
          <div class="form-group">
            <input
              type="tel" class="form-control"
              id="tel"

              name="confirmationCode"
              required
              minlength="6"

              placeholder="Код из SMS">
          </div>
          <button type="button" class="btn btn-continue btn-green">Продолжить</button>
        </div>
      </form>
      <p class="code-time" *ngIf="count_resend">Вы сможете запросить <br> повторный код через: {{countDown | async}} сек.</p>
      <a routerLink="/step-1">Выслать повторный код</a>
      <div class="line"></div>
      <div class="agreement-block">
        Нажимая кнопку «Продолжить», я даю согласие на обработку моих персональных данных в соответствии с
        <a class="color-green-teal" data-toggle="modal" data-target="#service_rules">Условиями использования</a>
      </div>
    </div>
  </div>
</div>


