<!-- Content -->
<div class="content">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
    <div class="inner-content register">
      <h4 class="content-title">
        Регистрация
      </h4>

      <form >
        <div class="form-group-container">
          <div class="form-group">
   <input type="tel" class="form-control"
                   name="phone"

                   id="tel" placeholder="Номер телефона"
                   minlength="12"
                   required
                 >
            <!--<int-phone-prefix class="widjet_button" id="tel" placeholder="Номер телефона" [(ngModel)]="registrationUser.phone_number" name="phone" #phone_number="ngModel" required></int-phone-prefix>-->
          </div>

          <div class="form-group">
            <input class="form-control pwd" id="pwd"
                   name="password"
                   placeholder="Пароль"

                   required
                   minlength="6"

              >

            <a class="change-link eye" id="eye">

            </a>
          </div>

          <div class="progress-container">
            <div class="progress pass-safe">
              <div role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progBar+'%'}" [ngClass]="{'progress-bar':true,'unsafe': pass_class_1, 'half-safe': pass_class_2, 'safe': pass_class_3}">
              </div>
            </div>
            <p class="color-green-teal" *ngIf="!safePassword">Минимум 6 символов</p>
            <p [ngClass]="{'color-red-teal': pass_class_1, 'color-yellow-teal': pass_class_2, 'color-green-teal': pass_class_3}" *ngIf="safePassword">{{password_text}}</p>
          </div>
        </div>
        <button
          routerLink="/step-2"
          type="button"
          class="btn btn-get-code btn-green">Продолжить
        </button>
      </form>
    </div>
  </div>

</div>
